<!DOCTYPE html>
<html lang="{{ g.locale }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Autor: Tomáš Valenta, https://blog.imaniti.org -->
		
		{% set full_title = gettext("Nástěnka") + gettext(" - ") + self.title() %}
		{%
			set image_url = url_for(
				"static",
				filename="images/banner.webp",
				_external=True
			)
		%}
		
		<title>{{ full_title }}</title>
		<meta name="description" content="{{ self.description() }}">

		<meta property="og:type" content="website">
		<meta property="og:title" content="{{ full_title }}">
		<meta property="og:description" content="{{ self.description() }}">
		<meta
			property="og:image"
			type="image/webp"
			content="{{ image_url }}"
		>

		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="FIXME"> <!-- FIXME -->
		<meta name="twitter:title" content="{{ full_title }}">
		<meta name="twitter:description" content="{{ self.description() }}">
		<meta
			name="twitter:image"
			type="image/webp"
			content="{{ image_url }}"
		>
		
		<link
			rel="icon"
			type="image/webp"
			href="{{
				url_for(
					"static",
					filename="images/icon.webp",
					_external=True
				)
			}}"
		>
		
		<link
			rel="stylesheet"
			href="{{
				url_for(
					"static",
					filename="css/base.css"
				)
			}}"
		>
	</head>
	<body>
		<header>
			
		</header>
		
		<main>
			{% block content %}{% endblock %}
		</main>
		
		<!-- Matomo Image Tracker (FIXME) -->
		<img referrerpolicy="no-referrer-when-downgrade" src="https://matomo.imaniti.org/matomo.php?idsite=FIXME&amp;rec=1" style="border:0" alt="" />
		<!-- End Matomo -->
	</body>
</html>
